@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&display=swap');
*{
  box-sizing: border-box;
}

body{
  background: #17181C; 
  color: #FFA500;
  font-family: monospace;
}